 @font-face { 
     font-family: WorkSans_Light; 
     src: url('font/ttf/WorkSans-Light.ttf'),
	      url('font/woff/WorkSans-Light.woff');
}
 @font-face { 
     font-family: PlayfairDisplay; 
     src: url('font/Playfair_Display/PlayfairDisplay-Regular.ttf');
}
 @font-face { 
     font-family: PlayfairDisplay-bold; 
     src: url('font/Playfair_Display/PlayfairDisplay-Bold.ttf');
}
 @font-face { 
     font-family: Poppins-Bold; 
     src: url('font/poppins/Poppins-Bold.otf');
}
 @font-face { 
     font-family: Poppins-Semibold; 
     src: url('font/poppins/Poppins-SemiBold.otf');
}
 @font-face { 
     font-family: Poppins; 
     src: url('font/poppins/Poppins-Thin.otf');
}
 @font-face { 
     font-family: Poppins-Light; 
     src: url('font/poppins/Poppins-Light.otf');
}

body{
	font-family:PlayfairDisplay;
	/*font-size:15px;*/
}

header,footer{
	color:white;
	/*background-color:rgb(0, 0, 0);*/
}
header
{
	text-align:center;
}

.table {
    display:table;
    text-align:center;
    height:100%;
    table-layout:fixed;
    margin-bottom:0px;
}


@media only screen and (max-device-width:768px){
.welcome {
	font-size: 30px;
	top: 45%;
}


/* Responsive layout - makes a two column-layout instead of four 

columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each 

other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}




/* ---------------------------------- */

