 
body, html {
  height:100%;
    margin:0;
    padding:0;
      max-width: 100%;
    overflow-x: hidden;
}

.nospace{
    margin:0;
    padding:0;
}

.back{
	    background-color: #0F4C75;
	    height:100%;
}

.container {
    height: 100%;
}

.bg_12 {
  /* The image used */
  background-image: url(first_img.jpg);
	height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg_13 {
  /* The image used */
  background-image: url(mywork.jpg);
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 767px) {
 
    .nomobile{
        display:none;
    }

    
}
@media only screen and (min-device-width: 767px) {
    
    .nodesktop{
        display:none;
    }
    
}

/* -------------------------------------------------------------------------------------------------------  */

.table {
    display:table;
    text-align:center;
    height:100%;
    table-layout:fixed;
}

.home {
    background-image: linear-gradient(to right, rgba(16,61,93,65%), rgba(21,102,157,65%) );
     box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    display:inline-block;
    border-radius: 20px;
    width: 80%;
    margin-top: 4%;
    padding:50px 0;
   
}

.home_text{
  padding: 5%; 
  text-align: left;
}

/* -------------------------------------------------------------------------------------------------------  */

.about_me
{
   padding: 5%; 
  height:200px;
}
.table {
    display:table;
    text-align:center;
    height:100%;
    table-layout:fixed;
}
.about {
    background-image: linear-gradient(to right, rgba(50, 130, 184,65%), rgba(50, 130, 184,65%) );
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
    display:inline-block;
    border-radius: 10px;
    width: 90%;
    margin-top: 5%;
    padding:20px 0;
}
.mywork_first{
  color:#ffffff; 
  font-size:50px; 
  font-weight: bold; 
  line-height: 0.9;
  padding: 10%; 
  text-align: left; 
  font-family:PlayfairDisplay-bold;
}
.about_in{
    background-image: linear-gradient(to left, rgba(16,61,93), rgba(21,102,157) );
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
    display:inline-block;
    border-radius: 10px;
    margin-left:1.5%;
}
.about_in img{
    width: 85%;
    height: 85%;
    position: relative;
    top: -40px;
    
}
.about_in2{
    background: rgba(15, 76, 117,65%);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    display:inline-block;
    border-radius: 10px;
    margin-right:1.5%;
    text-align: left;

}
.about_text{
    padding: 10%; 
    text-align: left;
}
.portfolioBox{
    width:70%;
    background: rgb(255, 255, 255);
    display:inline-block;
    border-radius: 5px;
    padding:8px 20px;
    margin: 4% 15%;
}
