 
body, html {
  height:100%;
    margin:0;
    padding:0;
      max-width: 100%;
    overflow-x: hidden;
}

.nospace{
    margin:0;
    padding:0;
}

.back{
    background-color: #0F4C75;
    height:100%;
}
.back1{
    background-color: #0F4C75;
    height:70%;
}

.container {
    height: 100%;
}

.bg_12 {
  /* The image used */
  background-image: url(first_img.jpg);
	height: 100%;
  /* Create the parallax scrolling effect 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}
.bg_10{
   background-image: url(bg2.jpg);
    height: 100%;
    background-repeat: no-repeat;
}
.bg_13 {
  /* The image used */
  background-image: url(mywork.jpg);
  height: 100%;
  /* Create the parallax scrolling effect 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}

.bg_14{
   background-image: url(bg4.jpg);
    /*height: 100%; */
    background-repeat: no-repeat;
}

@media only screen and (max-device-width: 767px) {
 
    .nomobile{
        display:none;
    }

    
}
@media only screen and (min-device-width: 767px) {
    
    .nodesktop{
        display:none;
    }
    
}

/* -------------------------------------------------------------------------------------------------------  */

.home {
    background-image: linear-gradient(to right, rgba(16,61,93,85%), rgba(21,102,157,85%) );
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    display:inline-block;
    border-radius: 20px;
    width: 80%;
    margin-top: 10%;
    padding:50px 0;
}
.home_image{
    margin-right:5%;
    float:right;
}
.home_text{
    padding: 5%; 
    text-align: left;
}

/* ------------------------------------------------------------------------------------------------------- */
.aboutme{
    padding:5%;
}
.title_head{
    color:#0F4C75; 
    font-size:45px; 
    font-weight: bold; 
    line-height: 0.9;
    padding: 3% 7%; 
    text-align: left; 
    font-family:PlayfairDisplay-bold;
}
.aboutme_Text{
  padding: 1% 10%;
}
.aboutme_Text p{
    text-align:left;

}
.skillBtn{
    text-transform: uppercase;
    font-family: Poppins-Light;
    font-weight: bold;
    border-radius: 20px;
    padding:8px 35px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border-color:#f0ad4e;
}


/* -------------------------------------------------------------------------------------------------------  */


.work {
    background-image: linear-gradient(to right, rgba(50, 130, 184,65%), rgba(50, 130, 184,65%) );
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
    display:inline-block;
    border-radius: 10px;
    width: 90%;
    margin-top: 5%;
    padding:20px 20px;
}
.mywork_first{
    color:#ffffff; 
    font-size:50px; 
    font-weight: bold; 
    line-height: 0.9;
    padding: 10%; 
    text-align: left; 
    font-family:PlayfairDisplay-bold;
}
.about_in{
    background-image: linear-gradient(to left, rgba(16,61,93), rgba(21,102,157) );
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
    display:inline-block;
    border-radius: 10px;
}
.about_in img{
    width: 50%;
    height: 50%;
    position: relative;
    top: -25px;
    left: 100px;
}
.about_in2{
    background: rgba(15, 76, 117, 0.2);
    margin-top:20px;
    display:inline-block;
    border-radius: 10px;
}
.column-8{
    width:32%;
}
.about_in2 img{
    width:100%;
    margin: 10%;
    float: left;
}
.tiles_text1{
    color:#F3BA4A; 
    font-size:18px;
    text-align:left; 
    font-weight: bold;
    font-family:Poppins-Light; 
    margin-bottom:0;
}
.tiles_text2 {
    color:#ffffff; 
    font-size:12px; 
    text-align:left; 
    line-height: 1.5; 
    font-family:Poppins;
}
.tiles_text3 {
    color:#ffffff; 
    font-size:12px; 
    text-align:left; 
    line-height: 1.5; 
    font-family:Poppins-Light;
}
/* -------------------------------------------------------------------------------------------------------  */

.resume{
    background-image: linear-gradient(to right, rgba(61, 146, 204,65%), rgba(61, 146, 204,65%) );
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
    display:inline-block;
    border-radius: 10px;
    width: 90%;
    margin-top: 3%;
    padding:20px 20px;
    margin-bottom: 3%;
}
.title_head_resume{
    color:#ffffff; 
    font-size:45px; 
    font-weight: bold; 
    line-height: 0.9;
    padding: 5% 7%; 
    text-align: left; 
    font-family:PlayfairDisplay-bold;
}
.resume_text{
    color:#ffffff; 
    font-size:20px;
    text-align:left; 
    font-family:Poppins-Bold; 
    margin-bottom:0;
    letter-spacing: 0.5px;
}
.resume_text2{
    color:#ffffff; 
    font-size:15px; 
    text-transform: uppercase;
    font-family:PlayfairDisplay-bold; 
    margin-bottom:0;
    text-align: left;
}
.meresumeimg img{
  padding:5% 0;
}
.mail_font{
  font-size:25px;
  margin-top:-1%;
  font-family: Poppins-Semibold;
}
.mail_font img{
  margin: 0 5px;
}
.pad-l-4{
    padding-left: 4%;
}
.pad-l-0{
  padding-left: 0;
}
/*
.about_in2{
    background: rgba(15, 76, 117,65%);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    display:inline-block;
    border-radius: 10px;
    margin-right:1.5%;
    text-align: left;

}
.about_text{
    padding: 10%; 
    text-align: left;
}
.portfolioBox{
    width:70%;
    background: rgb(255, 255, 255);
    display:inline-block;
    border-radius: 5px;
    padding:8px 20px;
    margin: 4% 15%;
} */
